.OptionsContainer {
  width: 100%;
  height: 50vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 1em;
  text-align: center;
}

table {
  width: 80%;
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  border: 1px solid #ddd;
  width: 33%;
  padding: 0.5%;
}

th {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(255, 181, 181);
}

tr:nth-child(even){background-color: #f2f2f2;}

td:nth-child(3), th:nth-child(3) {
  text-align: center;
}


button {
  text-align: center;
}

table button {
  font-size: 1.5em;
}